* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}

/* HEADER */

.header {
    width: 100%;
    height: 20%;
}

/* NAV */

.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5a504495;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.nav img {
    width: 4vw;
}

.nav ul {
    display: flex;
    list-style: none;
    width: auto;

}

.nav li {
    padding: 1.5vw;
    width: 100%;
}

.nav li:hover {
    background-color: grey;
}

.nav a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 1vw;
}

/* main INDEX */

.portada {
    height: 25vw;
    width: 100%;
    background-image: url(../img/imagen1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.tituloInicio h1 {
    font-size: 4vw;
    text-align: center;
    padding: 5%;

}

.grillaInicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img1 txt1"
        "txt2 img2"
        "img3 txt3"
        "txt4 img4"
    ;
    align-items: center;
    padding-top: 1vw;
    

}

.grillaInicio img {
    height: 50vw;
    padding: 1vw;
    margin: 0 auto;

}

.grillaInicio p {
    font-size: 3vw;
    padding: 2vw;

}

.img1 {
    grid-area: img1;

}

.img2 {
    grid-area: img2;

}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.txt1 {
    grid-area: txt1;
}

.txt2 {
    grid-area: txt2;
}

.txt3 {
    grid-area: txt3;
}

.txt4 {
    grid-area: txt4;
}

.tituloGaleriaInicio {
    font-size: 3vw;
    text-align: center;
    padding: 5vw;
}

.galeriaInicio {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-bottom: 5vw;
    margin: 0 auto;
}
    
.galeriaInicio img{
    width: 30vw;
    padding: 1vw;
}


/* FOOTER */

.footer {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    grid-area: footer;
    width: 100%;
    justify-content: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer li {
    padding: 0.5rem;
}

.footer a {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}


/* seccion CONTACTO */


.mainContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "contacto formulario";
    width: 100%;
    background-color: #5a504475;
    justify-items: center;
    align-items: center;
}

.contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 3%;

}

.txtWsp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #000;
    font-size: 2vw;
    padding: 0% 5% 5% 5%;
}

.wsp {
    text-align: center;
    padding: 2%;
    width: 100%;

}

.wsp a {
    text-decoration: none;
    font-size: 3vw;
    color: #5a5044;

}

.formulario {
    grid-area: formulario;
    width: 90%;
    padding: 2%;

}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    padding: 2%;
    text-align: center;
}

.form input {
    height: 3vw;
    width: 80%;
    border-radius: 15px;
    background-color: #c6c6c6;
    text-align: center;
    margin-top: 1vw;
    border-width: 0px;
    font-size: 1.5vw;
    outline: none;
}



.form textarea {
    font-size: 1.5vw;
    width: 100%;
    margin: 2%;
    height: 90%;
    border: solid white;
    border-radius: 10px;
    outline: none;

}

.form input[type=submit] {
    width: 50%;
}

.form input[type=submit]:hover {
    background-color: #5a5044;
    color: #999;
}

/* seccion PRESUPUESTOS */

.presupuestos {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    align-items: center;
    background-color: #5a504475;
}

.presupuestos p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    text-align: center;
    padding: 1vw;
}

.presupuestos input[type=text] {
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    width: 50%;
    text-align: center;
    font-size: 1vw;
    background-color: #c6c6c6;
    outline: none;
    border-width: 0;
}

.presupuestos input[type=email] {
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    width: 50%;
    text-align: center;
    font-size: 1vw;
    background-color: #c6c6c6;
    outline: none;
    border-width: 0;

}

.presupuestos textarea {
    width: 50%;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1vw;
    border-width: 0;
    outline: none;
}

.presupuestos input[type=submit] {
    width: 10%;
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 1vw;
    background-color: #5a504460;
    border-radius: 1vw;

}

.presupuestos input[type=submit]:hover {
    background-color: #5a5044;
    color: #999;
}

/* SECCION GALERIA DE FOTOS */

.mainGaleria {
    background-color: #5a504470;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 90%;
}

.galeria img {
    width: 60%;
    padding: 1vw;
}

/* MEDIAS QUERIES */
@media (max-width: 425px) {


    /*Q NAV */

    .nav h1 a {
        font-size: 6vw;
    }

    .nav {
        flex-direction: column;
    }

    .nav li {
        padding: 3vw;
    }

    .nav a {
        font-size: 3vw;
    }

    /*Q FOOTER */

    .footer ul li {
        padding: 2% 3% 2% 3%;
    }

    .footer a {
        font-size: 8vw;
    }

    /* Q main INDEX */


    .main a {
        font-size: 4vw;
    }

    .main li:hover {
        background-color: grey;
    }

    .main a:hover {
        color: #5a5044;
    }


    /* Q SECCION CONTACTO */

    .mainContacto {
        grid-template-columns: 1fr;
        grid-template-areas:
            "contacto"
            "formulario";
    }

    .contacto {
        padding-top: 5%;
    }

    .wsp a {
        font-size: 10vw;
    }

    .txtWsp {

        font-size: 4vw;

    }


    .form p {
        font-size: 4vw;
    }

    .form input {
        height: 6vw;
        width: 80%;
        border-radius: 5px;
        margin-top: 2vw;
        font-size: 3vw;

    }

    .form textarea {
        font-size: 3vw;
        width: 80%;
        margin: 4%;
        border-radius: 5px;

    }

    /* Q PRESUPUESTOS */

    .presupuestos {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        align-items: center;
        background-color: #5a504475;
    }

    .presupuestos p {
        font-size: 3vw;
    }

    .presupuestos input[type=text] {
        font-size: 2vw;
    }

    .presupuestos input[type=email] {
        font-size: 2vw;

    }

    .presupuestos textarea {
        height: 50%;
        font-size: 2vw;
    }

    .presupuestos input[type=submit] {
        width: 15%;
        font-size: 2vw;
    }

}