* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.tituloInicio h1, .tituloInfo, .mainGaleria h1, .contacto h1, .presupuestos h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #564E58;
  filter: drop-shadow(2px 1px 2px #564E58); }

/* main INDEX */
.portada {
  width: 100%;
  height: 40vw;
  background-image: url(/img/banner-dotto-2.jpg);
  background-size: cover;
  margin: 50px 0 0 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75); }

.tituloInicio h1 {
  font-size: 5rem;
  padding-top: 5%;
  padding-bottom: 1%; }

.grillaInicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img1 txt1" "txt2 img2" "img3 txt3" "txt4 img4";
  align-items: center;
  padding-top: 1vw; }
  .grillaInicio img {
    height: 30vw;
    margin: 0 auto;
    border-radius: 1%;
    filter: grayscale(100%);
    transition: 0.6s; }
    .grillaInicio img:hover {
      transform: scale(115%);
      filter: drop-shadow(5px 5px 5px #000); }
  .grillaInicio p {
    font-size: 1.5vw;
    padding: 2vw;
    font-family: "Mulish", sans-serif;
    text-overflow: inherit;
    text-align: center;
    border: solid 1px grey;
    border-radius: 5px;
    margin: 5vw; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.txt1 {
  grid-area: txt1; }

.txt2 {
  grid-area: txt2; }

.txt3 {
  grid-area: txt3; }

.txt4 {
  grid-area: txt4; }

.tituloInfo {
  margin: 20px; }

.faqs {
  max-width: 70%;
  margin: 0 auto; }

.accordion-button {
  background-color: #c6c6c6;
  border: 1px solid #564E58; }

.accordion-body {
  background-color: #c6c6c6; }

.linea {
  border-top: 2px solid #564E58;
  height: 2px;
  max-width: 60%;
  margin: 50px auto 50px auto; }

.tituloGaleriaInicio {
  text-align: center;
  margin: 0 auto;
  padding: 5vw 2vw 0vw 2vw;
  width: 50vw; }
  .tituloGaleriaInicio h2 {
    font-size: 3vw;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #564E58;
    filter: drop-shadow(2px 1px 2px #564E58); }

.btn a {
  text-decoration: none;
  color: #564E58; }

.galeriaInicio {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-bottom: 5vw;
  margin: 0 auto;
  justify-content: center; }
  .galeriaInicio a {
    margin: 10px;
    height: 20%; }
  .galeriaInicio img {
    width: 100%;
    border-radius: 2%;
    margin: 0 auto; }
    .galeriaInicio img:hover {
      transform: scale(110%);
      filter: drop-shadow(5px 5px 5px #000);
      transition: 0.3s; }

/* MEDIAS QUERIES */
@media (max-width: 768px) {
  .portada {
    margin-top: 50px; }
  .tituloInicio h1 {
    font-size: 2rem; }
  .grillaInicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "txt1" "img2" "txt2" "img3" "txt3" "img4" "txt4";
    align-items: center;
    justify-content: center;
    padding-top: 1vw; }
    .grillaInicio p {
      font-size: 1rem; }
    .grillaInicio img {
      height: 80vw;
      margin: 0 auto;
      filter: grayscale(0%); }
  .tituloGaleriaInicio h2 {
    font-size: 3rem; }
  .galeriaInicio {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .galeriaInicio a {
      height: 80%;
      padding: 1%;
      text-align: center; }
      .galeriaInicio a img {
        width: 75%; } }

/* HEADER */
.header {
  width: 100%;
  height: 20%; }

nav {
  background-color: #564E58; }

.nav-link {
  padding: 10px;
  margin: 10px; }

.logo {
  width: 40%;
  margin: 0 auto;
  padding: 0 auto; }
  .logo img {
    width: 30%;
    margin: 0 auto; }
    .logo img:hover {
      transform: scale(110%); }

.nav-link:hover {
  background-color: grey; }

/* MEDIAS QUERIES */
@media (max-width: 425px) {
  /*Q NAV */
  .logo {
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center; }
    .logo img {
      width: 40%; } }

/* FOOTER */
.footer {
  background-color: #564E58;
  text-align: center;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0 auto;
  padding-top: 2rem; }

.menuFooter {
  width: 100%; }
  .menuFooter ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 0.5em;
    padding: 0; }
    .menuFooter ul a {
      margin-top: auto;
      padding: 0.3em;
      font-size: 1em;
      text-decoration: none;
      color: #c6c6c6; }
      .menuFooter ul a:hover {
        background-color: grey; }

/* NEWSLETTER */
.newsletter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .newsletter p {
    font-size: 1em;
    margin: 0;
    color: #c6c6c6; }
  .newsletter input {
    margin: 0.5em;
    padding: 0.1em;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    border-width: 0; }

.redes ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none; }

.redes li {
  padding: 0.2rem; }

.redes a {
  font-size: 2rem;
  text-decoration: none;
  color: white; }
  .redes a:hover {
    color: grey; }

/* seccion PRODUCTOS */
.grillaProductos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; }

/* SECCION GALERIA DE FOTOS */
.mainGaleria {
  background-color: #c6c6c6;
  min-height: 100vh;
  margin-top: 10vw;
  margin-bottom: 10%; }
  .mainGaleria h1 {
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
    font-size: 3rem; }

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto; }
  .galeria img {
    width: 40%;
    padding: 1vw;
    border-radius: 5%;
    margin-top: 2vw;
    filter: grayscale(100%);
    transition: 0.6s; }
    .galeria img:hover {
      transform: scale(115%);
      filter: grayscale(0%); }

@media (max-width: 425px) {
  .mainGaleria {
    padding-top: 15vw; }
  .galeria img {
    width: 100%;
    filter: grayscale(0%); } }

/* seccion CONTACTO */
.mainContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contacto formulario";
  width: 100%;
  min-height: 100vh;
  background-color: #c6c6c6;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px; }

.contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .contacto p {
    margin: 0; }

.txtWsp {
  font-family: "Mulish", sans-serif;
  text-align: center;
  color: #000;
  font-size: 2vw;
  padding: 0% 5% 5% 5%; }

.wsp {
  text-align: center;
  width: 100%; }
  .wsp a {
    text-decoration: none;
    font-size: 3vw;
    color: #564E58; }

.formulario {
  grid-area: formulario;
  width: 80%; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }
  .form p {
    font-family: "Mulish", sans-serif;
    font-size: 2vw;
    padding: 2%;
    text-align: center; }
  .form input {
    height: 3vw;
    width: 80%;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    margin-top: 1vw;
    border-width: 0px;
    font-size: 1.5vw;
    outline: none; }
  .form textarea {
    font-size: 1.5vw;
    width: 100%;
    margin: 2%;
    height: 50%;
    border-radius: 10px;
    outline: none;
    border-width: 1px; }
  .form input[type=submit] {
    width: 30%;
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 1vw;
    background-color: #5a504460;
    border: 1px solid #000;
    border-radius: 1vw; }
    .form input[type=submit]:hover {
      background-color: #c6c6c6;
      color: #564E58; }

/* MEDIAS QUERIES */
@media (max-width: 768px) {
  /* Q SECCION CONTACTO */
  .mainContacto {
    grid-template-columns: 1fr;
    grid-template-areas: "contacto" "formulario";
    padding-top: 15%; }
  .contacto {
    padding-top: 5%; }
  .wsp a {
    font-size: 10vw; }
  .txtWsp {
    font-size: 4vw; }
  .formulario {
    width: 100%; }
  .form {
    margin-bottom: 2vw; }
    .form p {
      font-size: 4vw; }
    .form input {
      height: 6vw;
      width: 80%;
      border-radius: 5px;
      margin-top: 2vw;
      font-size: 3vw; }
    .form textarea {
      font-size: 3vw;
      width: 80%;
      margin: 4%;
      border-radius: 5px; }
    .form input[type=submit] {
      width: 50%;
      height: 10vw;
      font-size: 3vw; } }

/* seccion PRESUPUESTOS */
.presupuestos {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-top: 10%;
  padding-bottom: 2rem;
  align-items: center;
  background-color: #c6c6c6; }
  .presupuestos h1 {
    padding-top: 2vw; }
  .presupuestos p {
    font-family: "Mulish", sans-serif;
    font-size: 2vw;
    text-align: center;
    padding: 1vw; }
  .presupuestos input[type=text], .presupuestos input[type=email] {
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    width: 50%;
    text-align: center;
    font-size: 1vw;
    background-color: white;
    outline: none;
    border-width: 0; }
  .presupuestos textarea {
    width: 50%;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1vw;
    border-width: 1px;
    outline: none; }
  .presupuestos input[type=submit] {
    width: 10%;
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 1vw;
    background-color: #5a504460;
    border-radius: 1vw;
    border: 1px solid #000; }
    .presupuestos input[type=submit]:hover {
      background-color: #c6c6c6;
      color: #564E58; }

/* MEDIAS QUERIES */
@media (max-width: 425px) {
  /* Q PRESUPUESTOS */
  .presupuestos {
    padding-top: 25%; }
    .presupuestos input[type=text], .presupuestos input[type=email] {
      font-size: 2vw; }
    .presupuestos textarea {
      height: 50%;
      font-size: 2vw; }
    .presupuestos input[type=submit] {
      width: 30%;
      height: 10vw;
      font-size: 5vw; } }

body {
  min-height: 100vh;
  position: relative;
  background: #c6c6c6; }
