
@import "../base/colors";
/* HEADER */

.header {
    width: 100%;
    height: 20%;
  }
  
  nav {
    background-color: $colorPrincipal;
  }
  
  .logo {
    font-size: 2.5em;
    padding: 0%;
  }
  
  .nav-link:hover {
    background-color: grey;
  }

  /* MEDIAS QUERIES */
@media (max-width: 425px) {
    /*Q NAV */
  
    .nav {
      h1 a {
        font-size: 5vw;
      }
  
      flex-direction: column;
  
      li {
        padding: 3vw;
      }
  
      a {
        font-size: 3vw;
      }
    }
}