/* SECCION GALERIA DE FOTOS */

.mainGaleria {
  background-color: $colorSecundario;
  min-height: 100vh;
  padding-top: 10%;

  h1 {
   @extend %titulos;
  }
}

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;

  img {
    width: 30%;
    padding: 1vw;
    border-radius: 5%;
    margin-top: 5vw;
  }
}

@media (max-width: 425px) {

  .mainGaleria {
    padding-top: 20%;
  }

  .galeria {
    img {
      width: 50%;
    }
  }
}