/* SECCION GALERIA DE FOTOS */

.mainGaleria {
  background-color: $colorSecundario;
  min-height: 100vh;
  margin-top: 10vw;
  margin-bottom: 10%;
  

  h1 {
   @extend %titulos;
   margin-top: 10px;
   font-size: 3rem;
  }
}

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;

  img {
    width: 40%;
    padding: 1vw;
    border-radius: 5%;
    margin-top: 2vw;
    filter: grayscale(100%);
    transition: 0.6s;

    &:hover {
      transform: scale(115%);
      filter: grayscale(0%);
    }
  }
}

@media (max-width: 425px) {

  .mainGaleria {
    padding-top: 15vw;
  }

  .galeria {
    img {
      width: 100%;
      filter: grayscale(0%);
    }
  }
}