/* main INDEX */

.portada {

  width: 100%;
  height: 40vw;
  background-image: url(/img/banner-dotto-2.jpg);
  background-size: cover;
  margin: 50px 0 0 0;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}

.tituloInicio {

  h1 {
    @extend %titulos;
    font-size: 5rem;
    padding-top: 5%;
    padding-bottom: 1%;
  }
}

.grillaInicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img1 txt1"
    "txt2 img2"
    "img3 txt3"
    "txt4 img4";
  align-items: center;
  padding-top: 1vw;

  img {
    height: 30vw;
    margin: 0 auto;
    border-radius: 1%;
    filter: grayscale(100%);
    transition: 0.6s;


    &:hover {
      transform: scale(115%);
      filter: drop-shadow(5px 5px 5px #000);
    }
  }

  p {
    font-size: 1.5vw;
    padding: 2vw;
    font-family: $textos;
    text-overflow: inherit;
    text-align: center;
    border: solid 1px grey;
    border-radius: 5px;
    margin: 5vw;
  }
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.txt1 {
  grid-area: txt1;
}

.txt2 {
  grid-area: txt2;
}

.txt3 {
  grid-area: txt3;
}

.txt4 {
  grid-area: txt4;
}

.tituloInfo {
  @extend %titulos;
  margin: 20px;
}

.faqs {
  max-width: 70%;
  margin: 0 auto;
}

.accordion-button {
  background-color: $colorSecundario;
  border: 1px solid $colorPrincipal;
}

.accordion-body {
  background-color: $colorSecundario;
}

.linea {
  border-top: 2px solid $colorPrincipal;
  height: 2px;
  max-width: 60%;
  margin: 50px auto 50px auto;
}

.tituloGaleriaInicio {
  text-align: center;
  margin: 0 auto;
  padding: 5vw 2vw 0vw 2vw;
  width: 50vw;

  h2 {
    font-size: 3vw;
    font-family: $titulos;
    font-weight: bold;
    color: #564E58;
    filter: drop-shadow(2px 1px 2px #564E58);
  }
}

.btn a {
  text-decoration: none;
  color: #564E58;
}

.galeriaInicio {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-bottom: 5vw;
  margin: 0 auto;
  justify-content: center;

  a {
    margin: 10px;
    height: 20%;
  }

  img {
    width: 100%;
    border-radius: 2%;
    margin: 0 auto;

    &:hover {
      transform: scale(110%);
      filter: drop-shadow(5px 5px 5px #000);
      transition: 0.3s;
    }
  }
}


/* MEDIAS QUERIES */
@media (max-width: 768px) {

  .portada {
    margin-top: 50px;
  }

  .tituloInicio {

    h1 {
      font-size: 2rem;
    }
  }

  .grillaInicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "txt1"
      "img2"
      "txt2"
      "img3"
      "txt3"
      "img4"
      "txt4";
    align-items: center;
    justify-content: center;
    padding-top: 1vw;

    p {
      font-size: 1rem;
    }

    img {
      height: 80vw;
      margin: 0 auto;
      filter: grayscale(0%);
    }
  }

  .tituloGaleriaInicio {
    h2 {
      font-size: 3rem;
    }
  }

  .galeriaInicio {
    display: flex;
    flex-direction: column;
    width: 100%;
        
    a {
      height: 80%;
      padding: 1%;
      text-align: center;

      img {
        width: 75%;
      }
    }
  }
}