/* seccion PRESUPUESTOS */

.presupuestos {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-top: 10%;
  padding-bottom: 2rem;
  align-items: center;
  background-color: $colorSecundario;

  h1 {
    @extend %titulos;
    padding-top: 2vw;
  }

  p {
    font-family: $textos;
    font-size: 2vw;
    text-align: center;
    padding: 1vw;
  }

  input {

    &[type=text],
    &[type=email] {
      padding: 1vw;
      margin: 1vw;
      border-radius: 1vw;
      width: 50%;
      text-align: center;
      font-size: 1vw;
      background-color: white;
      outline: none;
      border-width: 0;
    }
  }

  textarea {
    width: 50%;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1vw;
    border-width: 1px;
    outline: none;
  }

  input[type=submit] {
    width: 10%;
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 1vw;
    background-color: #5a504460;
    border-radius: 1vw;
    border: 1px solid #000;

    &:hover {
      background-color: $colorSecundario;
      color: $colorPrincipal;
    }
  }
}

/* MEDIAS QUERIES */
@media (max-width: 425px) {


  /* Q PRESUPUESTOS */

  .presupuestos {

    padding-top: 25%;

    input {

      &[type=text],
      &[type=email] {
        font-size: 2vw;
      }
    }

    textarea {
      height: 50%;
      font-size: 2vw;
    }

    input[type=submit] {
      width: 30%;
      height: 10vw;
      font-size: 5vw;
    }
  }
}