/* seccion PRODUCTOS */

.grillaProductos {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $colorSecundario;
    padding-top: 10%;

    h1 {
      @extend %titulos;
    }
    
  
    h3 {
      padding: 1vw;
      font-family: 'Questrial', sans-serif;
      font-size: 3vw;
    }
  
    p {
      font-size: 1vw;
      font-family: 'Varela Round', sans-serif;
    }
  
    div {
      margin: 0 auto;
      padding: 10vw;
      text-align: center;
    }
  
    img {
      width: 90%;
      border-radius: 10px;
  
      &:hover {
        transform: scale(110%);
        transition: 0.3s;
      }
    }
  }
  